<h1><small>What to expect at</small> {{ review.placeDetail.name }}</h1>
<p ng-show="searchContext">
  <a href ng-click="backToSearchResults()">Back to search results</a>
</p>
<div class="row">
  <div class="col-md-8">
    <ul class="results media-list">
      <li class="result media" >
        <div class="pull-left">
          <img class="media-object" ng-src="{{ (review.placeDetail.photos[0].getUrl({maxWidth: 120, maxHeight: 120})) || review.placeDetail.icon ||'images/default.png' }}" alt="{{ review.placeDetail.name }}" width="60" height="60">
        </div>
        <div class="media-body">
          <address id="address">
            {{ review.placeDetail.formatted_address }}<br>
            {{ review.placeDetail.formatted_phone_number }}<br>
            <a href="{{ review.placeDetail.website }}">{{ review.placeDetail.website }}</a>
          </address>
        </div>
      </li>
    </ul>  
    <div class="reviews">
      <h4>People are saying...</h4>      
      <div class="clearfix">
        <button class="btn btn-primary pull-right" ng-click="openNewReviewModal()">Add Review</button>
      </div>
      <div style="text-align: center;" ng-hide="hasLoadedReviews">
        <img src="images/loading-large.gif" />
      </div>
      <p ng-show="hasLoadedReviews && review.reviews.$getIndex().length == 0">
        <em class="text-muted">No one has reviewed <strong>{{ review.placeDetail.name }}</strong> yet. Why don't you <a href ng-click="openNewReviewModal()">add a review</a>?</em>
      </p>      
      <blockquote ng-repeat="review in review.reviews">
        <p>
          <span style="font-size: 40px; font-weight: bold; padding-right: 15px;">&ldquo;</span>{{ review.review }}
          <button ng-show="auth.user.id == review.user_id" ng-click="openNewReviewModal()" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-edit"></span></button>
          <button ng-show="auth.user.id == review.user_id && !deleteReviewState[review.user_id]" ng-click="deleteReview(review.user_id, 1)" class="btn btn-xs btn-link" style="color: red;"><span class="glyphicon glyphicon-remove-sign"></span></button>
          <em style="font-size: 12px" ng-show="auth.user.id == review.user_id && deleteReviewState[review.user_id] === 1">Are you sure? <a href ng-click="deleteReview(review.user_id, 2)">Yes</a> / <a href ng-click="deleteReview(review.user_id, 0)">No</a></em>
        </p>
        <footer>
            <p class="muted-text">      
              <small>
                {{ review.username }}               
                <button class="btn btn-xs btn-default" ng-class="{'btn-success': review.votes[auth.user.id] === true}" ng-click="vote(review.user_id, true)"><span class="glyphicon glyphicon-thumbs-up"></span></button>                
                 <button class="btn btn-xs btn-default" ng-class="{'btn-danger': review.votes[auth.user.id] === false}" ng-click="vote(review.user_id, false)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
              </small>
            </p>            
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">      
      <div class="col-md-12">
        <div ng-if="review.placeDetail.photos.length">
          <h4>Photos</h4>
          <carousel interval="-1" style="">
            <slide ng-repeat="photo in review.placeDetail.photos">
              <img ng-src="{{photo.getUrl({maxWidth: 500, maxHeight: 300 })}}" style="margin:auto; width: 100%; maxHeight: 300px">
              <div class="carousel-caption">
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-md-12">
        <style>
        .angular-google-map-container { height: 300px; width: 100%; }
        </style>
        <div ng-if="map">
            <h4>Map</h4>
            <google-map center="map.center" zoom="map.zoom">
              <marker coords="placemarker.location" >
              </marker>
            </google-map>
        </div>
      </div>
    </div>
  </div>
</div>



  
