<div class="modal-header">
  <button type="button" class="close pull-right" aria-hidden="true" ng-click="$dismiss('close')">&times;</button>
  <h3>Your Experience&nbsp;<small>at {{ placeDetail.name }}</small></h3>
</div>            
<div class="modal-body">
  <form name="form.reviewForm" role="form" ng-submit="submitReview()" novalidate>
    <fieldset>
      <div class="form-group">
        <label for="reviewInput" class="control-label">140 Character Review</label>
        <em class="text-muted">&nbsp;(optional)</em>
        <div class="input-group" ng-class="{'has-error': form.reviewForm.review.$dirty && form.reviewForm.review.$invalid}">          
          <input name="review" id="reviewInput" class="form-control" placeholder="The bartender smelled funny." type="text"  maxlength="140" ng-maxlength="140" ng-model="review.text" ng-disabled="!form.enabled"/>
          <span class="input-group-addon">{{ 140 - form.reviewForm.review.$viewValue.length}}</span>                  
        </div>   
      </div>
    </fieldset>
    <div class="form-group clearfix" style="text-align: center">
      <button type="submit" class="btn btn-lg btn-default" ng-disabled="form.reviewForm.$invalid || !form.enabled" ng-click="review.recommendationModifier=0">Meh.</button>
      <button type="submit" class="btn btn-lg btn-danger" ng-disabled="form.reviewForm.$invalid || !form.enabled" ng-click="review.recommendationModifier=-1">This place sucks!&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button>      
      <button type="submit" class="btn btn-lg btn-success" ng-disabled="form.reviewForm.$invalid || !form.enabled" ng-click="review.recommendationModifier=1">Love this place!&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button>    
    </div>    
  </form>  
</div>
<div class="modal-footer">  
  <button class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</button>
</div>